MANIFEST
*.pyc
*.pyo
*.db
.*.swp
.coverage*
.junit*
cache/
dist/
./static/
doc/_build
authentic.egg-info
local_settings.py
log.log
authentic2/locale/fr/LC_MESSAGES/django.mo
*.css
*.css.map
local_settings.*
*.egg-info
*.mo
.tox
pylint.out
htmlcov
build
