
{% extends 'base.html' %}
{% block content %}
<div class="section">
  <h4><i class="material-icons left">folder</i>Mes documents</h4>
  <p><a href="{% url 'documents:invoices' %}" class="btn waves-effect"><i class="material-icons left">receipt</i>Factures</a></p>
  <table class="striped">
    <thead><tr><th>Titre</th><th>Type</th><th>Créé le</th><th>Télécharger</th></tr></thead>
    <tbody>
      {% for d in documents %}
      <tr>
        <td>{{ d.title }}</td>
        <td>{{ d.get_kind_display }}</td>
        <td>{{ d.created_at }}</td>
        <td><a class="btn-small" href="{{ d.file.url }}" target="_blank">Ouvrir</a></td>
      </tr>
      {% empty %}
      <tr><td colspan="4" class="grey-text">Aucun document.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
